body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.calligraphy {
  font-family: 'Parisienne', cursive;
  font-size: 50px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.para {
  font-family: 'Work Sans', serif;
  font-size: 20px;
  text-align: justify;
}

.profile-cropped {
  object-fit: cover;
  object-position: 40% 0;
  width: 200px;
  height: 200px;
  border-radius: 50%; 
}

.cursor {
  font-size: 35px;
  color: gray;
  animation: Typewriter-cursor 1s infinite;
  font-style: normal;
  margin-left: 3px;
}

.Typewriter {
  margin: 0px;
}

.typewriter-wrapper {
  font-size: 35px;
  font-family: 'Montserrat', cursive;
  font-weight: bold;
}

// .zoom img {
//   transition: transform .25s, visibility .25s ease-in;
//   transform-origin: 50% 30%;
// }

// .zoom:hover img {
//   transform: scale(1.12);
// }
