body {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Work Sans", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  // background-position-x: 50vw;
  // background-position-y: bottom;
  background-size: cover;
  @media (max-width: 480px) {
    background-image: url("images/background-mobile.jpg");
    background-size: cover;
  }
  @media (min-width: 481px) and (max-width: 1024px) {
    background-image: url("images/background-mobile.jpg");
    background-size: cover;
  }
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  &.subtitle {
    color: #616161;
  }
}

a:hover {
  transform: scale(1.12);
  color: #626161;
  &.subtitle {
    color: #878787;
  }
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.less-opacity {
  opacity: 75%;
}

.container {
  overflow: hidden;
}

.outest-background {
  margin-left: 150px;
  margin-right: 150px;
  @media only screen and (max-width: 767px) {
    margin-left: 25px;
    margin-right: 25px;
  }
  @media only screen and (min-width: 768px) and (max-width: 1079px) {
    margin-left: 150px;
    margin-right: 150px;
  }
}

.color-background {
  background-color: #ddb699;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.calligraphy {
  font-family: "Parisienne", cursive;
  font-size: 50px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

h1 {
  font-size: 30px;
  font-family: "Work Sans", sans-serif;
  margin-block-start: 0px;
  margin-block-end: 15px;
}

.vertical-timeline-element {
  // .vertical-timeline-element-content,
  // .vertical-timeline {
  font-size: 30px;
  font-family: "Work Sans", sans-serif;
  margin-block-start: 0px;
  margin-block-end: 15px;
  // padding: 20px;
  &--title {
    font-size: 22px;
    margin-block-end: 0px;
    margin-block-start: 0px;
  }
  &--subtitle {
    font-size: 16px;
    font-style: normal;
    color: #616161;
    margin-block-end: 0px;
    margin-block-start: 5px;
  }
}

.vertical-timeline-element-date {
  font-size: 17px;
  font-family: "Work Sans", serif;
  @media only screen and (max-width: 1024px) {
    font-size: 15px;
    font-weight: normal;
    font-style: italic;
    margin-block-start: 5px;
    margin-block-end: 0px;
  }
}

.timeline-icon {
  max-width: 45px;
  max-height: 45px;
  width: auto;
  height: auto;
  // aspect-ratio: 1200/1531;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// .vertical-timeline--two-columns,
// .vertical-timeline-element-content {
//   // @media only screen and (min-width: 1170px) {
//   padding: 0px;
//   // }
// }

.card {
  font-size: 22px;
  font-family: "Work Sans", serif;
  margin-block-start: 0px;
  margin-block-end: 0px;
  text-decoration: none;
  color: black;
  &:hover {
    text-shadow: 1px 1px 2px #c9ddb8;
    background: none;
  }
}

.disable-deco {
  text-decoration: none;
  color: black;
}

.card-contents {
  width: 100%;
  height: 100%;
}

.less-spacing {
  line-height: 15px;
}

.padding-left {
  @media only screen and (min-width: 1536px) {
    padding-left: 20px;
  }
}

.padding-right {
  @media only screen and (min-width: 1536px) {
    padding-right: 20px;
  }
}

.padding-bottom {
  padding-bottom: 15px;
}

.para {
  font-size: 17px;
  line-height: 25px;
  text-align: justify;
  font-family: "Work Sans", serif;
  &.mobile {
    text-align: left;
  }
  &.small {
    font-size: 14px;
  }
}

.profile-cropped {
  object-fit: cover;
  object-position: 40% 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.cursor {
  font-size: 35px;
  color: gray;
  animation: Typewriter-cursor 1s infinite;
  font-style: normal;
  margin-left: 3px;
}

.Typewriter {
  margin: 0px;
}

.typewriter-wrapper {
  font-size: 35px;
  font-family: "Work Sans", serif;
  font-weight: bold;
}

footer {
  font-family: "Work Sans", sans-serif;
}

.zoom img {
  transition: transform 0.25s, visibility 0.25s ease-in;
  transform-origin: 50% 30%;
}

.zoom:hover img {
  transform: scale(1.12);
}

.icon-small {
  height: 30px;
  width: 30px;
  &:hover {
    color: #894f4f;
    transform: scale(1.1);
    transition: transform 0.13s, visibility 0.13s ease-in;
    transform-origin: 50% 50%;
  }
}

.navbar {
  background-color: #fdb5b5; // to be determined later
  height: 60px;
  padding-bottom: 5px;
  border-radius: 10px;
}

.navitext {
  margin-left: 40px;
}

.navbar-text {
  font-family: "Work Sans", sans-serif;
  &:hover {
    color: #894f4f;
    transform: scale(1.1);
    transition: transform 0.13s, visibility 0.13s ease-in;
    transform-origin: 50% 50%;
  }
}

// .work,
// .vertical-timeline-element {
//   background-color: #ffe3e3;
// }

.card-header {
  border-radius: 10px;
  height: 55px;
  align-items: center;
  justify-content: center;
  width: 400px;
  margin: auto;
  &.mobile {
    width: 300px;
    margin-bottom: 15px;
  }
  &.exp {
    background-color: #f2c088;
  }
  &.edu {
    background-color: rgb(152, 221, 221);
  }
  &.works {
    background-color: #c9ddb8;
  }
}

.card-title {
  text-align: center;
  margin-block-end: 0px;
  vertical-align: middle;
  line-height: 50px;
}
